config.ini
!pages/example?.*/config.ini
!pages/docu/config.ini
!pages/kurzanleitung/config.ini
.DS_Store

# ignore directories below /pages exept listed exceptions
pages/*/
!pages/_template/
!pages/base/
!pages/docu/
!pages/example?.*/
!pages/kurzanleitung/
!pages/smarthome/
