{% extends "dimmen.html" %}

{% block headline %}
	<img class="icon" src='{{ icon0 }}light_light_dim_50.svg' />Dimmen - basic.slider
{% endblock %}

{% block docu %}
Anbei ein Beispiel um einen Slider in einem Block-Typ 5 anzuzeigen:<br>

   <div class="block" style="width:100%">
   <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
          <div data-role="collapsible" data-collapsed="false">
                  <h3>Wohnzimmer</h3>
                  {{ basic.slider('', 'Wohnzimmer.Spot1Schalten.Spot1Dimmen', 0, 100, 10) }} 
          </div>
    </div>
    </div>
Das Beispiel-Item sieht so aus:<br>
<textarea cols="50" rows="3">
%YAML 1.1
---

Wohnzimmer:

    Spot1Schalten:
        type: bool
        visu_acl: rw
        knx_dpt: 1
        knx_listen: 0/1/1
        knx_send: 0/0/1
        knx_init: 0/1/1

        Spot1Dimmen:
            type: num
            visu_acl: rw
            knx_dpt: 5001
            knx_listen: 0/4/1
            knx_send: 0/3/1
            knx_init: 0/4/1
</textarea>
<br><br>
Das Widget für Spot 1 sieht wie folgt aus:
	<div class="linux">
		<code class="prettyprint">{% filter trim|escape|nl2br %}{% verbatim %}
		{{ basic.slider('', 'Wohnzimmer.Spot1Schalten.Spot1Dimmen', 0, 100, 10) }}
			{% endverbatim %}{% endfilter %}
		</code>
	</div>
<br><br>
Der dazugehörige html-Code in Block-Typ 5 sieht so aus:<br>
<textarea cols="50" rows="3">{% raw %}
   <div class="block" style="width:100%">
   <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
          <div data-role="collapsible" data-collapsed="false">
                  <h3>2 Dimmer</h3>
                  {{ basic.slider('', 'Wohnzimmer.Spot1Schalten.Spot1Dimmen', 0, 100, 10) }}
          </div>
    </div>
    </div>
{% endraw %}
</textarea>
<br><br>
Weiterführende Infos zu dem Widget gibt es in der Inline Dokumentation.

{% endblock %}

