

{% extends "plot_1.html" %}

{% block headline %}
	<img class="icon" src='{{ icon0 }}measure_power.svg' />Plots / Graphen - plot.rtr
{% endblock %}

{% block docu %}

    <div class="block">
    <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
    	<div data-role="collapsible" data-collapsed="false" >
            <h3>Verlauf Raumtemperatur</h3>
		{{ plot.rtr('', 'Wohnzimmer.Heizung.temperatur', 'Wohnzimmer.Heizung.set', 'Wohnzimmer.Heizung.state') }}
        </div>
    </div>
    </div>
<br clear="all">
<br>
Im Item von device.rtr wurden bereits die notwendigen Parameter für den Plot gesetzt (database: yes).<br>
Das Beispiel-Item ist also das gleiche wie beim device.rtr :<br>
<textarea cols="50" rows="3">
Wohnzimmer:
    Heizung:
        temperatur:
            type: num
            visu_acl: rw
            database: yes
            knx_dpt: 9
            knx_listen: 6/1/0
            knx_init: 6/1/0

        set:
            type: num
            visu_acl: rw
            database: yes
            knx_dpt: 9
            knx_send: 6/2/0
            knx_listen: 6/3/0

        mode:
            type: num<br>
            visu_acl: rw
            knx_dpt: 5
            knx_listen: 6/4/0
            knx_send: 6/4/0

        state:
            type: bool
            visu_acl: rw
            database: yes
            knx_dpt: 1
            knx_listen: 6/5/0
            knx_init: 6/5/0
</textarea>
<br><br>
Das Widget für den Plot, welchen wir verwenden, sieht so aus:<br>
	<div class="linux">
		<code class="prettyprint">{% filter trim|escape|nl2br %}{% verbatim %}
			{{ plot.rtr('', 'Wohnzimmer.Heizung.temperatur', 'Wohnzimmer.Heizung.set', 'Wohnzimmer.Heizung.state') }}
			{% endverbatim %}{% endfilter %}
		</code>
	</div>
<br><br>
Der dazugehörige html-Code in Block-Typ 2 sieht so aus:<br>
<textarea cols="50" rows="3">{% raw %}
    <div class="block">
    <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
    	<div data-role="collapsible" data-collapsed="false" >
            <h3>Verlauf Raumtemperatur</h3>
		{{ plot.rtr('', 'Wohnzimmer.Heizung.temperatur', 'Wohnzimmer.Heizung.set', 'Wohnzimmer.Heizung.state') }}
        </div>
    </div>
    </div>
{% endraw %}
</textarea>
<br><br>

<font color="#FF0000">WICHTIG:</font><br>
Es ist zu beachten, dass die Daten erst angezeigt werden, sobald alle 3 Daten einmal gesendet wurden. Also erst, wenn alle 3 GAs einmal einen Wert gesendet haben, ist etwas zu sehen.<br>
<br><br>
Weiterführende Infos zu dem Widget gibt es in der Inline Dokumentation.

{% endblock %}

