.container div.grid {
    position: absolute;
}

.container div a.grid {
    height: 100%;
    width: 100%;
}

.container div a.grid .ui-btn-inner {
    height: 90%;
    font-size: 2.6vmin;
    padding: 0;
}

/* Font-size for label */
.container div a.grid p {
    font-size: 2.5vmin;
}

/* The ghost, nudged to maintain perfect centering */
.container div a.grid .ui-btn-inner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.container div a.grid .ui-btn-inner .ui-btn-text {
    display: inline-block;
    vertical-align: middle;   
}

.container div a.grid .ui-btn-text img {
    width: 60%;
    height: auto;
    margin-bottom: 0;
}

.container div a.grid .ui-btn-text .single {
    width: 80%;
    height: auto;
}

.container div a.camera_button img.pic {
    width: 90%;
    height: auto;
}

.container div a.grid .svg-frame, a.grid span.rgb-icon, .container .svg-frame svg, .container .svg-frame object.icon {
    width: 60%;
    height: auto;
    position: relative;
    display:inline-block;
    vertical-align: middle; 
    overflow:hidden;
}

.container div a.grid .svg-frame {
    width: 100%;
    z-index: -1;
    height: auto;
}

/* Plot */
.container div a.grid .plot {
    width: 100%;
    height: 11em;
    min-width: 0;
    position: relative;
    display:inline-block;
    vertical-align: middle; 
    overflow:hidden;
}

.container a.grid .plot svg text {
    font-size: 2vmin!important;
}

.container a.grid .plot svg path {
    stroke-width: 1px!important;
}

/* Hide and disable objects */
.disabled svg {
    pointer-events: none;
}

.container .hide {
    display: none!important;
}

.ui-off {
    opacity: .5;
}

/* Popup */
.rgb-popup2 div {
	width: 24px;
	height: 24px;
	margin: 0 1px 1px 0;
	float: left;
}

.rgb-popup2 br {
	clear: left;
}

/* footer */
.ui-footer-custom div {
    position: relative;
    float: left; 
    padding-bottom: 2px;
    margin-right: 20px;
    /* Center Text vertical */
    line-height: 32px;
    vertical-align: middle;
}

.ui-footer-custom img, .ui-footer-custom svg {
    display: block;
    float: left;
    margin-right: 5px; 
    height: 32px!important;
}

.ui-footer-custom div.align-right {
    float: right; 
}

/* Popup */

.ui-popup {
    margin: 10px;
    padding: 2em;
}

.ui-popup div.popup-info div.icon {
    float: left;
    height: inherit;
}

.ui-popup div.popup-info div.info {
    float: right;
    font-size: 2.5vmin;
    margin: auto;
}

/** Rotate Text -90 degrees used in shutter-widget */
.rotate {
	display: block;
	white-space: nowrap;
	-moz-transform: rotate(-90.0deg);  /* FF3.5+ */
	-o-transform: rotate(-90.0deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
	-ms-transform: rotate(-90deg); /* IE */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE */
	transform: rotate(-90deg);
}

svg.icon {
    width: auto;
    height: auto;
}

/* Weather */
.container div a.weather .ui-btn-text {
    height: 100%;
}

.container div a.grid img.weather {
    width: 100%;
    white-space: normal;
    margin-top: 10%;
}

.container div a.grid .weather {
    height: inherit;
    white-space: normal;
}

.container div a.grid .weather * {
    text-align: inherit;
    margin: 2% 0;
}

.container div a.grid .weather .temp {
    padding: 0;
}

.container div a.grid.weather .info {
    vertical-align: top;
    overflow: hidden;
}

.container div a.grid .weather .values {
    vertical-align: bottom;
    font-size: 2.8vmin;
    font-weight: normal;
}

.container div a.grid .weather .values .temp, .container div a.grid .weather .values .highlow {
    font-size: 4vmin;
    margin-bottom: 0.5em;
}
