body {
        font-family: 'Verdana'  !important;
        font-style: normal  !important;
        font-weight: 500  !important;
        text-shadow: none;
}

.setRed {
        color: red;
}
.setBlue {
        color: blue;
}

.sunIcon { border: 0px; padding: 0px; vertical-align: text-bottom; width: 35px;}
.moonIcon { border: 0px; padding: 0px; vertical-align: text-bottom; width: 35px;}

